<div class="container">
  <div class="row">


    <form class="col-8" action="/auth/login" method="POST">
      <h2 style="margin-bottom: 15px !important;">logindan o'tish</h2>


      <div class="mb-3">
        <label for="email" class="form-label">Email manzilingiz</label>
        <input type="email" style="margin-bottom: 15px !important;" name="email" class="form-control" id="email" placeholder="pistonchi@gmail.com">
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" style="margin-bottom: 15px !important;" name="password" class="form-control" id="password" placeholder="parolingiz">
      </div>


      <button class="btn btn-primary" type="submit">submit</button>

    </form>
  </div>
</div>