<div class="container">
  <div class="row">

    <div class="col-12">
      <form action="/auth/register" method="POST">
        <h2 style="margin-bottom: 15px !important;">registratsiyadan o'tish</h2>

        <div class="mb-3">
          <label for="name" class="form-label">Ismingiz</label>
          <input type="text" style="margin-bottom: 15px !important;" name="name" class="form-control"
            id="exampleFormControlInput1" placeholder="pistonchi">
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email manzilingiz</label>
          <input type="email" style="margin-bottom: 15px !important;" name="email" class="form-control"
            id="exampleFormControlInput1" placeholder="pistonchi@gmail.com">
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" style="margin-bottom: 15px !important;" name="password" class="form-control"
            id="exampleFormControlInput1" placeholder="parolingiz">
        </div>

        <div class="mb-3">
          <label for="img" class="form-label">Avatarkangiz</label>
          <input type="text" style="margin-bottom: 15px !important;" name="img" class="form-control"
            id="exampleFormControlInput1" placeholder="rasm manzilingiz">
        </div>




        <button class="btn btn-primary" type="submit">submit</button>

      </form>
    </div>

  </div>
</div>