<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
        <i class="fa fa-bars"></i>
    </button>
    <a class="navbar-brand" href="index.html">sine<span>mkt</span>.</a>

</div>

<div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
    <ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp">
        <li class="scroll active"><a href="#home">home</a></li>
        <li class="scroll"><a href="#new-arrivals">new arrival</a></li>
        <li class="scroll"><a href="#feature">features</a></li>
        <li class="scroll"><a href="#blog">blog</a></li>
        <li class="scroll"><a href="#newsletter">contact</a></li>
    </ul>
    <!--/.nav -->
</div>